# Contents of /etc/systemd/system/myservice.service
[Unit]
Description=Panq fan service
After=network.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/panq start 123 123 123 123 123 123 123 

[Install]
WantedBy=multi-user.target